div.cats {
    padding-top: 30px;
    .cats-wrapper {
        display: inline-block;
        vertical-align: top;
    }
    .catfilters-wrapper {
        width: 30%;
    }
    .catlist-wrapper {
        width: 60%;
        padding: 0 5%;
    }
}